Title: Socialdemokratiet's_mayoral_candidate_wants_to_set_four_requirements_for_new_constructions_in_Copenhagen
Date: 2025-06-04
Article Type: News
Author: Socialdemokratiet’s main mayoral candidate does not want buildings taller than five stories in Copenhagen. A bad idea that limits the potential for city development, according to reactions at Rådhuset, Copenhagen’s City Hall.

Ida Nathan
Politisk reporter
New constructions in Copenhagen should be prohibited from exceeding five stories.
This is the opinion of Socialdemokratiet’s main candidate for Lord mayor in Copenhagen, Pernille Rosenkrantz-Theil, who presents four concrete requirements for future buildings, which she will campaign on in the upcoming municipal election. The common theme of these requirements is to ensure a more architecturally beautiful capital.
